
IconDesign/12855552-hand-with-mobile-phone-scans-the-qr-code-on-blue-background-.jpg
IconDesign/51LLSXPtTtL.png
IconDesign/Icon copy.psd
IconDesign/icon.png
IconDesign/Icon.psd
IconDesign/icon128.png
IconDesign/icon16.png
IconDesign/icon32.png
IconDesign/icon48.png
IconDesign/icon64.png
IconDesign/index.css
IconDesign/index.html
IconDesign/index.js
IconDesign/manifest.json
IconDesign/qrious.js
IconDesign/SmartSwitch.png
IconDesign/SmartSwitch.webp
IconDesign/OpenInPhone.pem
